# Bar in NYC (Manhattan, Brooklyn), Richmond VA, Seattle
Film production houses, film rental houses

Beer, fresh out of college drinks
- microbrew
- need fine options on food menu
- shitty vodka is best vodka

- microwinery <3 

_Target customers_<br>
- Middle-aged
- Mid-20s hipsters

Restaurant
SPORTS BAR that is always closed




Add location to a map through the import we learned on learn.co

# USE BASE DATA

First step is to get requests:

In [28]:
import requests
import json
import sys
import pandas as pd
print(sys.path)

['/Users/jakeash/Desktop/testing/Yelp_Jake_Mike_Phase_1', '/Users/jakeash/opt/anaconda3/envs/learn-env/lib/python38.zip', '/Users/jakeash/opt/anaconda3/envs/learn-env/lib/python3.8', '/Users/jakeash/opt/anaconda3/envs/learn-env/lib/python3.8/lib-dynload', '', '/Users/jakeash/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages', '/Users/jakeash/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/extensions', '/Users/jakeash/.ipython']

In [29]:
url =  'https://api.yelp.com/v3/businesses/search' #points to url from my own yelp developer page

In [30]:
from  keys  import  client_id, api_key

In [31]:
print(api_key)

iRaRIQA2fkcxjxPGmsFU1pH4DHRuizbjxffWPV2mDgDCgBVPC9Cn0DXzX8jvCK9RRXLbjgXij4E2eN6AlJvx7L6Mhquc2cWaNe2NbvDSwhSesMfI1FrZHmNV55kmYHYx

In [32]:
headers = {
        'Authorization': 'Bearer {}'.format(api_key),
    }

In [33]:
### THIS CAN BE DYNAMIC
# what type of business do you want to search
#term = 'Film Production' # this would 
term = 'Bar'
#where do you want to perform this search
location = 'Brooklyn'

# what is your other parameter you want to search against
#categories = 'Video/Film'
categories = 'Restaurant'

In [34]:

url_params = {
                "term": term.replace(' ', '+'),
                "location": location.replace(' ', '+'),
                "categories" : categories,
                "limit": 50,
    
            }

In [35]:
url_params

{'term': 'Bar',
 'location': 'Brooklyn',
 'categories': 'Restaurant',
 'limit': 50}

In [36]:
response = requests.get(url, headers=headers, params=url_params)
json.loads(response.text)
response.json()
data = response.json()
print(data['total'], data.keys())
# print(response)

6200 dict_keys(['businesses', 'total', 'region'])

In [37]:
def yelp_call(counter, headers, url_params): 
    response = requests.get(url, headers=headers, params=url_params) # our url, header and params should be consistent, atleast with our Yelp data
    return response.json()

In [38]:
len(yelp_call(0,headers,url_params)['businesses'])

50

In [39]:
# def call_1000():
    
#     cur = 0
#     num = 1000
#     #set up a while loop to go through and grab the result 
#     while cur < num and cur < 1000: #### MIKE NOTE I believe num should be referring to the number of results we have in our dataframe
#         #set the offset parameter to be where you currently are in the results 
#         url_params['offset'] = cur
#         #make your API call with the new offset number
#         results = yelp_call(num, headers, url_params)

#         #after you get your results you can now use your function to parse those results
#         parsed_results = parse_results(results)

#         # use your function to insert your parsed results into the db
#         df_save(parsed_results)
#         #increment the counter by 50 to move on to the next results
#         cur += 50
#     return None

In [40]:
# call_1000()

#### Parsing the Data

In [41]:
business = data['businesses'][44]

In [42]:

# name, rating, review_count, price, ##location?

In [43]:
business['price']

'$$'

In [44]:
business['location']['city']

'Downtown Brooklyn'

In [45]:
full_address = business['location']['address1'], business['location']['city'], business['location']['state'], business['location']['zip_code']
full_address

('42 Hoyt St', 'Downtown Brooklyn', 'NY', '11201')

In [46]:
business_rating = business['rating']
business_rating

4.0

In [47]:
biz_tuple = (business['name'], business['location']['display_address'], business['rating'])

In [48]:
biz_tuple

('Livingston Manor', ['42 Hoyt St', 'Downtown Brooklyn, NY 11201'], 4.0)

In [49]:
def parse_data(list_of_data):
    # create a container to hold our parsed data
    businesses = []
    # loop through our business and 
    for business in list_of_data:
        biz_price = None
        if 'price' not in business.keys():
            biz_price = None
        else:
            biz_price = len(business['price'])
    # parse each individual business into a tuple
        biz_tuple = (business['name'],
                     business['location']['display_address'],
                     business['location']['city'],
                     business['rating'],
                     business['review_count'],
                     business['coordinates'],
                     biz_price)
    # add each individual business tuple to our data container
        businesses.append(biz_tuple)
    # return the container with all of the parsed results
    return businesses

## Make a function that adds a price column, and if the dict doesnt have a price column, add a vlaue of Null

In [50]:
parsed_results = parse_data(data['businesses'])

In [51]:
# cur = 0

# #set up a while loop to go through and grab the result 
# while cur < num and cur < 1000:
#     #set the offset parameter to be where you currently are in the results 
#     url_params['offset'] = cur
#     #make your API call with the new offset number
#     results = yelp_call(url_params, api_key)
    
#     #after you get your results you can now use your function to parse those results
#     parsed_results = parse_results(results)
    
#     # use your function to insert your parsed results into the db
#     df_save(parsed_results)
#     #increment the counter by 50 to move on to the next results
#     cur += 50

In [52]:
parsed_results # list of tuples representing name, address, and rating of establishments

[('The Rogers Garden',
  ['708 Rogers Ave', 'Brooklyn, NY 11226'],
  'Brooklyn',
  4.5,
  46,
  {'latitude': 40.65424833, 'longitude': -73.952965},
  None),
 ('Flatbush Zombie House',
  ['734 Flatbush Ave', 'Brooklyn, NY 11226'],
  'Brooklyn',
  4.0,
  102,
  {'latitude': 40.6550392260637, 'longitude': -73.9600387215614},
  2),
 ('End Zone Sports Bar & Lounge',
  ['28 Dooley St', 'Brooklyn, NY 11235'],
  'Brooklyn',
  5.0,
  6,
  {'latitude': 40.58437, 'longitude': -73.9453},
  None),
 ('Boobie Trap',
  ['308 Bleecker St', 'Brooklyn, NY 11237'],
  'Brooklyn',
  4.0,
  273,
  {'latitude': 40.7003517876193, 'longitude': -73.9161294247438},
  1),
 ('The Crown Inn',
  ['724 Franklin Ave', 'Brooklyn, NY 11238'],
  'Brooklyn',
  4.0,
  200,
  {'latitude': 40.673874, 'longitude': -73.957101},
  2),
 ('The Wilky',
  ['108 Patchen Ave', 'Brooklyn, NY 11221'],
  'Brooklyn',
  4.5,
  147,
  {'latitude': 40.68802, 'longitude': -73.92735},
  2),
 ('MOON BAR Rooftop',
  ['137-72 Northern Blvd', 'Fl 9', 'Flushing, NY 11354'],
  'Flushing',
  4.0,
  27,
  {'latitude': 40.7635, 'longitude': -73.82844},
  None),
 ('Sally’s',
  ['151 Tompkins Ave', 'Brooklyn, NY 11206'],
  'Brooklyn',
  4.5,
  16,
  {'latitude': 40.69413, 'longitude': -73.94592},
  None),
 ("L'Wren",
  ['4004 5th Ave', 'Brooklyn, NY 11232'],
  'Brooklyn',
  5.0,
  42,
  {'latitude': 40.65065, 'longitude': -74.00476},
  None),
 ("Dick and Jane's",
  ['266 Adelphi St', 'Brooklyn, NY 11205'],
  'Brooklyn',
  4.0,
  121,
  {'latitude': 40.68987, 'longitude': -73.97136},
  2),
 ('Lovers Rock',
  ['419 Tompkins Ave', 'Brooklyn, NY 11216'],
  'Brooklyn',
  4.0,
  115,
  {'latitude': 40.6831, 'longitude': -73.9436},
  2),
 ('Margarita Island',
  ['1105 Bowery St', 'Brooklyn, NY 11224'],
  'Brooklyn',
  3.5,
  38,
  {'latitude': 40.57485, 'longitude': -73.97922},
  2),
 ('Bearded Lady',
  ['686A Washington Ave', 'Brooklyn, NY 11238'],
  'Brooklyn',
  4.0,
  193,
  {'latitude': 40.6774605398157, 'longitude': -73.963885845718},
  2),
 ('Living Room Restaurant & Lounge',
  ['178 Ave U', 'Brooklyn, NY 11223'],
  'Brooklyn',
  3.5,
  182,
  {'latitude': 40.596309, 'longitude': -73.977697},
  2),
 ('Travel Bar',
  ['520 Court St', 'Carroll Gardens, NY 11231'],
  'Carroll Gardens',
  5.0,
  50,
  {'latitude': 40.6761449091646, 'longitude': -73.9990452619921},
  2),
 ('King Tai',
  ['1095 Bergen St', 'Brooklyn, NY 11216'],
  'Brooklyn',
  4.0,
  70,
  {'latitude': 40.6762009, 'longitude': -73.9494781},
  1),
 ('Super Power',
  ['722 Nostrand Ave', 'Brooklyn, NY 11216'],
  'Brooklyn',
  4.5,
  148,
  {'latitude': 40.6739268745309, 'longitude': -73.9503274715026},
  2),
 ('Gems Bar Lounge',
  ['1595 Broadway', 'Brooklyn, NY 11207'],
  'Brooklyn',
  5.0,
  9,
  {'latitude': 40.685739, 'longitude': -73.914793},
  None),
 ('Turtles All The Way Down',
  ['236 Malcolm X Blvd', 'Brooklyn, NY 11221'],
  'Brooklyn',
  4.5,
  26,
  {'latitude': 40.68509, 'longitude': -73.92963},
  1),
 ('St Ends',
  ['667 Franklin Ave', 'Brooklyn, NY 11238'],
  'Brooklyn',
  4.5,
  42,
  {'latitude': 40.67568, 'longitude': -73.95601},
  None),
 ('Two Saints',
  ['753 Nostrand Ave', 'Brooklyn, NY 11216'],
  'Brooklyn',
  4.0,
  84,
  {'latitude': 40.67151, 'longitude': -73.9502},
  2),
 ('Sycamore Bar + Flowershop',
  ['1118 Cortelyou Rd', 'Brooklyn, NY 11218'],
  'Brooklyn',
  4.0,
  330,
  {'latitude': 40.639719, 'longitude': -73.967158},
  2),
 ('Glorietta Baldy',
  ['502 Franklin Ave', 'Brooklyn, NY 11238'],
  'Brooklyn',
  4.0,
  64,
  {'latitude': 40.6813358395142, 'longitude': -73.9561890468519},
  2),
 ('Dynaco',
  ['1112 Bedford Ave', 'Brooklyn, NY 11216'],
  'Brooklyn',
  4.5,
  110,
  {'latitude': 40.686615, 'longitude': -73.954811},
  2),
 ('Do or Dive',
  ['1108 Bedford Ave', 'Brooklyn, NY 11216'],
  'Brooklyn',
  4.5,
  67,
  {'latitude': 40.6867587, 'longitude': -73.9548362},
  1),
 ('Midwood Flats',
  ['577 Flatbush Ave', 'Prospect Lefferts Gardens, NY 11225'],
  'Prospect Lefferts Gardens',
  4.0,
  267,
  {'latitude': 40.6596512, 'longitude': -73.9603844},
  2),
 ("Queen Bee's Tavern",
  ['3023 Church Ave', 'Brooklyn, NY 11226'],
  'Brooklyn',
  4.5,
  10,
  {'latitude': 40.65098, 'longitude': -73.94874},
  1),
 ('Charm Bar & Restaurant',
  ['448 Dean St', 'Brooklyn, NY 11217'],
  'Brooklyn',
  4.5,
  14,
  {'latitude': 40.681841, 'longitude': -73.976284},
  None),
 ('The Corners',
  ['395 Nostrand Ave', 'Brooklyn, NY 11216'],
  'Brooklyn',
  4.5,
  35,
  {'latitude': 40.6842514074696, 'longitude': -73.9501402711639},
  2),
 ('Zig Zag Tiki Bar',
  ['382 Marcus Garvey Blvd', 'Brooklyn, NY 11221'],
  'Brooklyn',
  4.0,
  15,
  {'latitude': 40.68401333, 'longitude': -73.93821667},
  None),
 ('The Steel Mill',
  ['1363 Bushwick Ave', 'Brooklyn, NY 11207'],
  'Brooklyn',
  5.0,
  4,
  {'latitude': 40.6854018910904, 'longitude': -73.9108926057816},
  None),
 ('Doris',
  ['1088 Fulton St', 'Brooklyn, NY 11238'],
  'Brooklyn',
  4.0,
  96,
  {'latitude': 40.68121, 'longitude': -73.957436},
  2),
 ('Rockaway Beach Surf Club',
  ['302 Beach 87th St', 'Far Rockaway, NY 11693'],
  'Far Rockaway',
  4.0,
  128,
  {'latitude': 40.58884, 'longitude': -73.81211},
  1),
 ('Sweet Brooklyn Bar And Grill',
  ['608 Nostrand Ave', 'Brooklyn, NY 11216'],
  'Brooklyn',
  4.0,
  387,
  {'latitude': 40.6778662988215, 'longitude': -73.9500002190471},
  2),
 ('Weather Up',
  ['589 Vanderbilt Ave', 'Brooklyn, NY 11238'],
  'Brooklyn',
  4.0,
  293,
  {'latitude': 40.679866, 'longitude': -73.967758},
  2),
 ('Featherweight',
  ['135 Graham Ave', 'Brooklyn, NY 11206'],
  'Brooklyn',
  4.5,
  135,
  {'latitude': 40.7063167, 'longitude': -73.9432119},
  2),
 ('Drink',
  ['768 Franklin Ave', 'Brooklyn, NY 11238'],
  'Brooklyn',
  4.5,
  105,
  {'latitude': 40.67216, 'longitude': -73.95757},
  2),
 ('Luckydog',
  ['303 Bedford Ave', 'Brooklyn, NY 11211'],
  'Brooklyn',
  4.0,
  300,
  {'latitude': 40.71348, 'longitude': -73.96166},
  1),
 ('Bar Meridian',
  ['406 Prospect Pl', 'Brooklyn, NY 11238'],
  'Brooklyn',
  4.5,
  11,
  {'latitude': 40.6763427218772, 'longitude': -73.9630645624458},
  None),
 ('Post Bar',
  ['307 Clifton Pl', 'Brooklyn, NY 11216'],
  'Brooklyn',
  4.5,
  14,
  {'latitude': 40.689547, 'longitude': -73.950757},
  None),
 ('Father Knows Best',
  ['611A Wilson Ave', 'Brooklyn, NY 11207'],
  'Brooklyn',
  4.0,
  327,
  {'latitude': 40.6901735, 'longitude': -73.9069755},
  2),
 ('The Holler',
  ['348 Franklin Ave', 'Brooklyn, NY 11238'],
  'Brooklyn',
  4.5,
  32,
  {'latitude': 40.687208, 'longitude': -73.957163},
  2),
 ('Parkside',
  ['705 Flatbush Ave', 'Brooklyn, NY 11225'],
  'Brooklyn',
  4.0,
  186,
  {'latitude': 40.655949, 'longitude': -73.959599},
  2),
 ('Mama Fox',
  ['327 Stuyvesant Ave', 'Brooklyn, NY 11233'],
  'Brooklyn',
  4.0,
  105,
  {'latitude': 40.6832286325504, 'longitude': -73.9319809048272},
  2),
 ('Livingston Manor',
  ['42 Hoyt St', 'Downtown Brooklyn, NY 11201'],
  'Downtown Brooklyn',
  4.0,
  123,
  {'latitude': 40.6893883, 'longitude': -73.9861374},
  2),
 ('Dromedary Urban Tiki Bar',
  ['266 Irving Ave', 'Brooklyn, NY 11237'],
  'Brooklyn',
  4.0,
  140,
  {'latitude': 40.6995427342094, 'longitude': -73.9158535540931},
  2),
 ('The Moonlight Mile',
  ['200 Franklin St', 'Brooklyn, NY 11222'],
  'Brooklyn',
  5.0,
  79,
  {'latitude': 40.7321141, 'longitude': -73.9578424},
  2),
 ('duckduck bar',
  ['153 Montrose Ave', 'Brooklyn, NY 11206'],
  'Brooklyn',
  4.0,
  230,
  {'latitude': 40.7074988047929, 'longitude': -73.9427649602294},
  1),
 ('The Commissioner',
  ['247 5th Ave', 'Brooklyn, NY 11215'],
  'Brooklyn',
  5.0,
  138,
  {'latitude': 40.67487, 'longitude': -73.98137},
  1),
 ('Greenwood Park',
  ['555 7th Ave', 'Brooklyn, NY 11215'],
  'Brooklyn',
  3.5,
  440,
  {'latitude': 40.659353, 'longitude': -73.987894},
  2)]

In [ ]:
def parse_results(results):
    # your code to parse the result to make them easier to insert into the DB
    return parsed_results

In [ ]:
def df_safe(csv filepath, parsed results):
    df.to_csv(‘NewSavedFileName.csv’, index=False)
    # your code to open the csv file, concat the current data, and save the data.

In [60]:
def call_1000():
    
    cur = 0
    num = 1000
    #set up a while loop to go through and grab the result 
    while cur < num and cur < 1000: #### MIKE NOTE I believe num should be referring to the number of results we have in our dataframe
        #set the offset parameter to be where you currently are in the results 
        url_params['offset'] = cur
        #make your API call with the new offset number
        results = yelp_call(num, headers, url_params)

        #after you get your results you can now use your function to parse those results
        parsed_results = parse_results(results)

        # use your function to insert your parsed results into the db
        df_save(parsed_results)
        #increment the counter by 50 to move on to the next results
        cur += 50
    return None

In [62]:
df = call_1000()

In [ ]:
#pd.DataFrame(parsed_results)

In [ ]:
#df = pd.DataFrame(parsed_results, columns=['Name', 'Address','City', 'Rating','Review Count','Coordinates','Price'])

In [67]:
df.tail()

,Name,Address,City,Rating,Review Count,Coordinates,Price
45,Dromedary Urban Tiki Bar,"[266 Irving Ave, Brooklyn, NY 11237]",Brooklyn,4.0,140,"{'latitude': 40.6995427342094, 'longitude': -7...",2.0
46,The Moonlight Mile,"[200 Franklin St, Brooklyn, NY 11222]",Brooklyn,5.0,79,"{'latitude': 40.7321141, 'longitude': -73.9578...",2.0
47,duckduck bar,"[153 Montrose Ave, Brooklyn, NY 11206]",Brooklyn,4.0,230,"{'latitude': 40.7074988047929, 'longitude': -7...",1.0
48,The Commissioner,"[247 5th Ave, Brooklyn, NY 11215]",Brooklyn,5.0,138,"{'latitude': 40.67487, 'longitude': -73.98137}",1.0
49,Greenwood Park,"[555 7th Ave, Brooklyn, NY 11215]",Brooklyn,3.5,440,"{'latitude': 40.659353, 'longitude': -73.987894}",2.0

In [64]:
df.groupby('City')['Name'].count()

City
Brooklyn                     45
Carroll Gardens               1
Downtown Brooklyn             1
Far Rockaway                  1
Flushing                      1
Prospect Lefferts Gardens     1
Name: Name, dtype: int64

In [ ]:
'''
Arverne              1
Astoria              2
Bronx                1
Brooklyn            14
Hoboken              1
Jersey City          1
Long Island City     4
Middle Village       1
New York            20
Queens               5
'''